body {
    background-color: #BDBDBD;
}

.main-item  {
    margin-top: 10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px !important;
    height: auto;
}
.manga-info {
    margin-top: 50px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px !important;
    height: auto;
}

.manga-info-item {
    margin-top: 10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

.top-panel {
    margin-top: 10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px !important;
    height: auto;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.home-page-cover {
    height: 220px;
    max-width: 170px;
    width: auto;
    display:block;
    margin:auto;
}


.active {
    background-color: grey !important;
    color: white !important;
    border-radius: 10px;
}

.nav-item {
    width: 120px !important;
    text-align: center;
}

.top-panel-item {
    height: 250px !important;
    width: auto;
}

.add-chapter-button {
    width: 150px !important;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paginate-input {
    width: 140px !important;
}
.search-box {
    position: absolute;
    right: 0 !important;
    z-index: 999 !important;
}